@media screen and (max-width: 640px){
    main{
        .articuloUno{
            @include flex (flex,space-around,center);
            flex-direction: column;
            object-fit: scale-down;
            .parrafos{
                p{
                    padding: 30px 0px 0px 0px;
                }
            }
            .calendario{
                margin: 30px;
            }
        }
    }
}
@media screen and(max-width: 520px) {
    main{
        .articuloDos{
            @include flex (flex,space-around,center);
            flex-direction: column;
            h2{
                margin: 0px;
            }
            p{
                margin: 30px;

            }
        }
    }
    footer{
        height: auto;
        @include flex(flex,start,center);
        flex-direction: column-reverse;
        .logoFooter{
            p{
                display: none;
            }
        }
    }
}
