main{
    .articuloTres{
        height: 20vh;
        p{
            padding:50px;
            text-align: center;
            font-size: 31px;
            line-height: 31px;
            color: #232323;
            font-family: "arial";
            strong{
                color: #3c034ca2;
            }
        }

    }
}