main{
    .articuloDos{
        background-image: url(../../img/imagen3.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        @include flex (flex,space-around,center);
        img{
            border: 6px solid #ffffff;
            border-radius: 5px;
            
        }
        p{      
            width: 242px;
            height: 241px;
            font-size: 15px;
            color: #ffffff;
            font-family: "arial";
        }
    }
}