main{
    .generic{
        background-image: url(../../img/inicios.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size:cover;
        background-position: center center;
        height: 100vh;
        @include flex (flex,space-between,start);
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        img{
            margin: 40px;
        }
        .lunch{
            margin: 70px;

            h2{         
                font-size: 17px;
                line-height: 17px;
                color: #eeeeee;
                font-family: "arial";
                margin-right: 83%;
                background-color: #710e8ca2;
                padding: 8px;
            }
            p{
                font-size: 56px;
                line-height: 56px;
                color: #eeeeee;
                font-family: "arial";
                margin-right: 40%;
            }
        }    
    }
    
}